<a href="https://colab.research.google.com/github/YaelDuarte/COMPyPROG2022G1157/blob/main/FUNDAMENTOSCYP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12 Octubre 2021

In [ ]:
nombre = 'Yael' # Tipo de dato String (cadena de caracteres)


print( nombre )

Yael

# Tipos de dato en Phyton

### Tipos simples 
- str --> String cadena de caractéres.
- int --> Numeros enteros
- float --> Numeros con notación de punto flotante
- complex --> Numeros complejos 
- bool --> Boleano ( True o Fals ) 
- byte --> 8 bits 

### Tipos de datos estructurados (Compuestos)

- list --> Listas (Arreglos en otros lenguajes)
- tuple --> Listas no mutables 
- dict --> diccionarios 
- set y frozenset --> Conjuntos

In [ ]:
import sys 
edad = 19
print( "Tu edad es:",edad )
# este es un comentario de linea simple y se usa el "#" en Phyton

"""
Comentario de multiple línea 
En lenguaje C++ y Java el comentario de múltiple linea es con /* ... */

En lenguaje C, C++ y Java el comentario de una sola línea es con:

//

Aqui puedes expresar en prosa el codigo para futuras referencias

"""

# tipos de dato numerico int y float

print ( sys.getsizeof(edad) ) 
# el tipo de dato INT utiliza diferente cantidad de bits segun el
# lenguaje de prog. por ejemplo en C utliza 16 bits
edad = edad + 1

print( edad )

estatura = 1.56
print( estatura )
print( sys.getsizeof(estatura) )
estatura = estatura + 0.1
print( estatura )
print( round(estatura,2) )

edad += 1 # edad = edad + 1
print( "Tu edad es:",edad )

edad -= 1 # edad = edad - 1
print( "Tu edad es:",edad )

edad += 1 # Vuelve a 21
edad /= 2 # edad = edad / 2
print( "La mitad de tu edad es:",edad )

edad = 21
# volver a calcular la mitad de la edad pero solo dejar 
# parte entera

edad = edad // 2
print( "La mitad de tu edad es:",edad )

# En la mayoria de los leng no permiten operaciones entre
# diferenttes tipos de datos, en Phyton no es el caso

numero = edad / 2.0
print( numero )

numero = numero * 3 # Tambien se puede usar la expresion *=
print( numero )

numero = 5.0
numero = numero ** 2 # Las ** son potencias y se puede usar 
# la expresion **=
print( numero )

# operador modulo
numero = 21
print( numero / 2 )

Tu edad es: 19
28
20
1.56
24
1.6600000000000001
1.66
Tu edad es: 21
Tu edad es: 20
La mitad de tu edad es: 10.5
La mitad de tu edad es: 10
5.0
15.0
25.0
10.5

In [ ]:
# operador modulo
numero = 21
print( numero / 2 )
print( numero // 2 )

# el operador modulo da como resultado el residuo de una divison entera 
print( numero % 2 ) # El operador modulo se representa por %

numero = 24
print("Residuo de 21 / 5:",numero % 5 )

print( numero % 2 == 0)

# operadores logicos o relacionales

# diferencias 
print( "24 es diferentes de 23=", numero > 23 )
print("24 es difernte de 23=",numero != 24)

print("24 es menor que 23=",numero < 23)

print("24 es menor o igual que 24=",numero >= 24)
print("24 es menor o igual que 23=",numero < 23)

print("El tipo de dato de la var numero es:", type(numero) )
print("El tipo de dato de la var numero /2.0 es:", type(numero/2.0) )

10.5
10
1
Residuo de 21 / 5: 4
True
24 es diferentes de 23= True
24 es difernte de 23= False
24 es menor que 23= False
24 es menor o igual que 24= True
24 es menor o igual que 23= False
El tipo de dato de la var numero es: <class 'int'>
El tipo de dato de la var numero /2.0 es: <class 'float'>

# Tarea
Hacer un resumen de mínimo una cuartilla de los origenes dle lenguaje Phyton 

- ¿Por que de su creación?
- Caracteristicas principales.
- Diferencias de otros leng.

Forma de entrega: A mano en el cuaderno, sacarle foto y subir la foto

# Tipo de dato String (str) en Phyton
- Se maneja como un arreglo (Tipo de dato compuesto)
- Se puede acceder a los elementos de el string por medio del indice del caracter
- Mutable 
- Tiene metodos utiles (potentes)
- slicing

In [ ]:
nombre = "Yael"
carrera = "Ingenieria en computación"
frase = """ Ahora dilo
sin llorar
"""
print( nombre )
print( carrera )
print( frase )

# La función type de Phyton te devuelve el tipo de dato de una variable 
print( type(nombre) )

paterno = str( "Perez" )
print( paterno )

Yael
Ingenieria en computación
 Ahora dilo
sin llorar

<class 'str'>
Perez

Una clase (class) es un tipo de dato compuesto.
 ## 14 DE OCTUBRE 2021

In [ ]:
carrera = "Ingenieria en computación"
print( carrera )
print( carrera [2] )

Ingenieria en computación
g

# a la sintaxis escrita para elegir un elemnto de un grupo de datos se le llama selector.

En caso de String y listas (lst) se usan los caracteres "[y]"

1. En todis los lenguajes los arreglos inician en 0.
2. En phyton no existe como tal el tipo de arreglo, ek concepto es sustituido por las listas.
3. Los strings se comportan como un arreglo de la mayoria de los lenguajes.
4. En phyton se acepta en idexado negativo, en otros lenguajes NO.

In [ ]:
carrera = "Ingeniería en computación"
print( carrera)
print( carrera[8] )
print( carrera[24] )
print( carrera[-1] )
print( carrera[-25])


# Adelantado el tema ciclo FOR

for letra in carrera:
  print("-->", letra, "<--")

Ingeniería en computación
í
n
n
I
I
n
g
e
n
i
e
r
í
a

e
n

c
o
m
p
u
t
a
c
i
ó
n

# Slicing (rebanado) de cadenas

Permirte seleccionar subcadenas con el operador 
####[inicio :stop:incremento]
El stop no se incluye es por eso que debemos de agregar una posicion extra


#### Slicing y valores por defecto 

inicio por defecto siempre será 0

stop: tamaño del arreglo (indexado) positivo
      0 en un (indexado negativo)
Incremento: es 1 (indexado positivo)

In [ ]:
carrera = "Ingeniería en computación"
print(carrera[0:10:1])
print(carrera[14:25:1])
# lo mismo pero con indexado negativo ??
print(carrera[-11: :1])
print(carrera[:10:])
print(carrera[14:25:])

# SOLUCION PREVIA
print("-----------")
print(carrera[-11:-1 :1])
print(carrera[-11: :1])


print("--------------")
# Un ejercicio más para ver incremento
print(carrera[0:10:2])
print(carrera[-1:-12 :-2])
print(carrera[25:13:-1])

Ingeniería
computación
computación
Ingeniería
computación
-----------
computació
computación
--------------
Igneí
niaumc
nóicatupmoc

# String y sus métodos 
# Todos los tipos de dato en phyton son objetos (CLASE de la POO)
### Lo cual significa que tiene atributos y métodos

## dir() y help() funciones para obtener ayuda del lenguaje phyton.

### dir muestra las funciones de un tipo de dato como resumen.

#### help muestra la misma ayuda pero a detalle.

Metodos que inician con doble guion bajo son privados de uso interno de la clase y no deberiamos usarlos.

Todos los demas son para uso exterior (para el usuario).

In [ ]:
frutas = " limon , fresa, manzana  , aguacate  "
nombre = "jose"
print(frutas)


print( nombre.capitalize()) # Vuele la primera letra en mayuscula
print( nombre.upper() )
print( frutas.replace( "a" , "4").replace("e" , "3").upper() )
frutas = frutas.replace( "a" , "4").replace("e" , "3").upper()
print(frutas)

print(".-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-")
frutas = "  limon , fresa, manzana  , aguacate  "
print( frutas.strip() ) # Corrige la basura
print( frutas.split(",") ) # Separa cada elemento entre comillas por espacio
print( frutas.index("n"))

 limon , fresa, manzana  , aguacate
Jose
JOSE
 LIMON , FR3S4, M4NZ4N4  , 4GU4C4T3
 LIMON , FR3S4, M4NZ4N4  , 4GU4C4T3
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-
limon , fresa, manzana  , aguacate
['  limon ', ' fresa', ' manzana  ', ' aguacate  ']
6

# String y caracteres de escape

"Jose"
- \\"   --> "
- \\'   --> '
- \n   --> Salto de linea (tecla enter)
- \t   --> tabulador spacios a la izq.
- \uxxxx  --> Caracteres unicode de 16 bits o 2 bytes
- \Uxxxxxxxx --> unicode extendido 4 bytes
- \\\   --> \\

In [ ]:
print(" \"Jose\"  ")
nombre = " \"Jose\"  "
print( nombre )

carrera = "Ingeniería \n\ten \n\t\tComputación"
print( carrera )

#Ejemplos de caracteres unicode
print("\u0065")
print("\u0444")
print("\u0620")
print("\U00010057")
print("\U0001F607")
print("\U0001F9A0")
print("\u255E")

 "Jose"
 "Jose"
Ingeniería
	en
		Computación
e
ф
ؠ
𐁗
😇
🦠
╞

# 21 DE OCTUBRE 2021

# Función print

### Se emplea para desplegar información en la salida estandar. Normalmente un monitor 

- Formas de usar print 
- El argumento por defecto de la función print (end)
- Format ()
- Operador f" "

In [ ]:
nombre = "Jose"
edad = 18
casado = False 
estatura = 1.67

"""
Nombre : Jose
    Edad: 18
    Esta casado : False
    Estatura en metros : 1.67
"""
#1.- Con comas concatena haciendo un casting(conversion a string)
# Agrega un espacio
print( nombre,edad,casado,estatura)
print("Nombre: " + nombre +" \n\tEdad: "+ str(edad) + "\n\testa casado : " +str(casado) )

#2.- Con el simbolo de "+"
# Concatenacion en crudo.
print(nombre+" " + str(edad) + " " + str(casado) + " " +str(estatura) )

# 3.- Dando formato a la salida con format
print("\nCon la funcion format()")
print("Nombre:{0}\n\tEdad: {1}\n\tEsta casado: {2} \n\testatura en metros: {3}" .format(nombre,edad,casado, estatura))

#4.- Con el operador f " "
print("Con el operador f\ \"\" ")
print(f"Nombre:{nombre}\n\tEdad: {edad}\n\tEsta casado: {casado} \n\testatura en metros: {estatura}" .format(nombre,edad,casado, estatura))


# Como manejar el argumento end
print(" \n Como usar el argumento end")
print(f"Hola {nombre} " , end="")
print(", Como estas?", end="\n")

Jose 18 False 1.67
Nombre: Jose
	Edad: 18
	esta casado : False
Jose 18 False 1.67

Con la funcion format()
Nombre:Jose
	Edad: 18
	Esta casado: False
	estatura en metros: 1.67
Con el operador f\ ""
Nombre:Jose
	Edad: 18
	Esta casado: False
	estatura en metros: 1.67

 Como usar el argumento end
Hola Jose , Como estas?

# Con un sola función POR LETRA print escribir su primer nombre (nombre de pila) de la siguiente forma 

K  K       
K K      
K  K    
K   K   

   A
 A    A
AAAAAAA
A      A
A      A

#4 NOVIEMBRE 2021

# datos de entrada

para solicitar los datos de 1 usuario se emplea la funcion input. La cual regresa siempre un tipo de dato string.

In [1]:
nombre = input("Ingresa tu nombre")
print("Tecleaste:" , nombre )

Ingresa tu nombreYael
Tecleaste: Yael

#¿Como capturar datos numericos?

Para ello se hace una conversion entre tipos...
casting... consiste en llamar ak constructor de la clase deseada 

## Ejemplo convertir el string "2" en numero 
### num=int("2")

In [3]:
entrada = input("Dame tu edad:")
edad = int(entrada)
edad += 1 #edad = edad + 1
print("Tu edad es:",edad)

Dame tu edad:18
Tu edad es: 19

In [31]:
# lo mismo pero con menos codigo

edad = int( input("Dame tu edad:") )
print("Tu edad es:") , edad + 1

Dame tu edad:18

TypeError: ignored

In [29]:
estatura = float( input("Dame tu estatura:") )
print("Tu estatura es:",estatura + 0.1)

Dame tu estatura:1.70

TypeError: ignored

In [32]:
# inputs de booleans

casado = bool(int(input("Soltero (0) casado (1)")))
print( "casado=" , casado )

Soltero (0) casado (1)1

TypeError: ignored